<h1>{{ editNotCreate ? 'Edit' : 'Create an' }} Expression</h1>
<form [formGroup]="form">
	<div class="form-group">
		<label for="exp_field">Field</label>
		<select id="exp_field" class="form-control" formControlName="ctrlFld">
			<option *ngFor="let fld of flds" [value]="fld">{{ getFieldDisplay(fld) }}</option>
		</select>
		<span *ngIf="fldMultiOnly">(Multi-Expression Searches only)</span>
	</div>
	<div *ngIf="fldPP" class="form-group">
		<label for="exp_ppf">Physical Property Sub Field</label>
		<select id="exp_ppf" class="form-control" formControlName="ctrlPPF">
			<option *ngFor="let ppf of PPFs" [value]="ppf">{{ getPPFieldDisplay(ppf) }}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="exp_operator">Operator</label>
		<select id="exp_operator" class="form-control" formControlName="ctrlOp">
			<option *ngFor="let op of ops" [value]="op">{{ getOperatorDisplay(op) }}</option>
		</select>
		<span *ngIf="opUsesPercent">
			<label for="exp_percent" class="small">&gt;=</label>
			<input  id="exp_percent" type="number" class="form-control" min="40" max="100" step="5" formControlName="ctrlPercent">
			<label for="exp_percent" class="small">%</label>
			<div *ngIf="!ctrlPercent.valid" class="alert alert-warning">{{ 'Similarity' }} searches require a percent between 40 and 100.</div>
		</span>
	</div>
	<div class="form-group">
		<label for="exp_values" id="exp_values_label">Search Term(s)</label>
		<div [hidden]="fldBool" class="values-container">
			<textarea id="exp_values" class="form-control" [ngClass]="{keepcase: isStructure}" rows="1" formControlName="ctrlValue" (keypress)="onKeyPress($event)" #textareaExpValues></textarea>
		</div>
		<div [hidden]="!fldBool" class="values-container">
			<select id="exp_values_boolean" class="form-control" formControlName="ctrlValueBoolean">
				<option value="true">true</option>
				<option value="false">false</option>
			</select>
		</div>
		<div *ngIf="!ctrlValue.valid" class="alert alert-warning">
			<div *ngIf="ctrlValue.hasError('wildcard_inlist')"        >Wildcards (*) may not be used with the <b>{{'in list'}}</b> operator.</div>
			<div *ngIf="ctrlValue.hasError('wildcard_not_supported')" >Wildcards (*) are not supported with the current selections.</div>
			<div *ngIf="ctrlValue.hasError('wildcard_internal')"      >Wildcards (*) may only be the first or last character in a term.</div>
			<div *ngIf="ctrlValue.hasError('wildcard_already_converted')">The current operator already functions with that wildcard (*).</div>
			<div *ngIf="ctrlValue.hasError('pipe_not_supported')"        >The pipe (|) character is not supported with the current selections.</div>
			<div *ngIf="ctrlValue.hasError('weight_inlist_not_correct')" >For <b>{{'Molecular Weight'}} {{'in list'}}</b> searches, please enter two or more positive numbers, separated by pipe (|) characters. Numbers may have up to four decimal places.</div>
			<div *ngIf="ctrlValue.hasError('weight_between_not_correct')">For <b>{{'Molecular Weight'}} {{'between'}}</b> searches, please enter two positive numbers separated by a hyphen or space. Each number may have up to four decimal places.</div>
			<div *ngIf="ctrlValue.hasError('weight_single_not_correct')">For <b>{{'Molecular Weight'}}</b> searches, please enter a single positive number with up to four decimal places.</div>
			<div *ngIf="ctrlValue.hasError('toxicity_between_not_correct')">For <b>{{'Toxicity'}} {{'between'}}</b> searches, please enter two positive numbers, separated by a hyphen or space. You may enter decimal numbers including scientific notation.</div>
			<div *ngIf="ctrlValue.hasError('toxicity_inlist_not_correct')">For <b>{{'Toxicity'}} {{'in list'}}</b> searches, please enter two or more positive numbers, separated by pipe (|) characters. You may enter decimal numbers including scientific notation.</div>
			<div *ngIf="ctrlValue.hasError('toxicity_single_not_correct')">For <b>{{'Toxicity'}}</b> searches, please enter a single positive number. You may enter decimal numbers including scientific notation.</div>
			<div *ngIf="ctrlValue.hasError('pp_inlist_not_correct')" >For <b>{{'Physical Property'}} {{'in list'}}</b> searches, please enter two or more numbers, separated by pipe (|) characters. You may enter decimal numbers including scientific notation.</div>
			<div *ngIf="ctrlValue.hasError('pp_between_not_correct')">For <b>{{'Physical Property'}} {{'between'}}</b> searches, please enter two numbers, separated by a hyphen or space. You may enter decimal numbers including scientific notation.</div>
			<div *ngIf="ctrlValue.hasError('pp_single_not_correct')">For <b>{{'Physical Property'}}</b> searches, please enter a single number. You may enter decimal numbers including scientific notation.</div>
			<div *ngIf="ctrlValue.hasError('rn_not_correct')"       ><b>{{'Registry Number'}}</b> terms have 5 to 10 digits ending like ##-##-# and do not have leading zeroes.</div>
			<div *ngIf="ctrlValue.hasError('id_not_correct')"       ><b>{{'System ID'}}</b> terms are 10 characters, either all digits or with one or more letters followed by digits.</div>
			<div *ngIf="ctrlValue.hasError('unii_not_correct')"     ><b>{{'FDA UNII'}}</b> terms are 10 digits and/or letters.</div>
			<div *ngIf="ctrlValue.hasError('inchikey_not_correct')" ><b>{{'InChIKey'}}</b> terms are 25 letters, with hyphens after the 14th and 24th.</div>
			<div *ngIf="ctrlValue.hasError('date_not_correct')"><b>{{'Last Modified'}}</b> search terms must be YYYY or YYYY-MM or YYYY-MM-DD or YYYYMMDD or 13 digits of milliseconds.</div>
			<div *ngIf="ctrlValue.hasError('inlist_not_correct')"        >For <b>{{'in list'}}</b> searches, please enter two or more terms, separated by pipe (|) characters.</div>
			<div *ngIf="ctrlValue.hasError('number_between_not_correct')">For <b>{{'between'}}</b> searches, please enter two numbers, separated by a hyphen or space.</div>
			<div *ngIf="ctrlValue.hasError('single_value_empty')">A search term is required.</div>
			<div *ngIf="ctrlValue.hasError('auto_too_short')"><b>{{'(automatic)'}}</b> search terms must be at least 3 characters.</div>
			<div *ngIf="ctrlValue.hasError('autocomplete_pending')">Please wait, search results are pending...</div>
			<div *ngIf="ctrlValue.hasError('autocomplete_no_matching_results')">No substances match the current expression.</div>
			<div *ngIf="ctrlValue.hasError('autocomplete_no_matching_term')">No substances match the current term.</div>
			<div *ngIf="ctrlValue.hasError('tox_single_value_empty')">The search fields require at least one input.</div>
		</div>
	</div>
	<div *ngIf="fldPP" class="form-group">
		<label for="exp_ppmt">Measurement Type</label>
		<select id="exp_ppmt" class="form-control" formControlName="ctrlPPMT">
			<option *ngFor="let ppmt of PPMTs" [value]="ppmt">{{ getPPMeasurementTypeDisplay(ppmt) }}</option>
		</select>
	</div>
	<ng-container *ngIf="fldTox">
		<div class="form-group">
			<label for="exp_toxtest">Test</label>
			<select id="exp_toxtest" class="form-control" formControlName="ctrlToxT">
				<option *ngFor="let toxT of toxTs" [value]="toxT">{{ getToxicityTestDisplay(toxT) }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exp_toxspecies">Species</label>
			<select id="exp_toxspecies" class="form-control" formControlName="ctrlToxS">
				<option *ngFor="let toxS of toxSs" [value]="toxS">{{ getToxicitySpeciesDisplay(toxS) }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exp_toxroute">Route</label>
			<select id="exp_toxroute" class="form-control" formControlName="ctrlToxR">
				<option *ngFor="let toxR of toxRs" [value]="toxR">{{ getToxicityRouteDisplay(toxR) }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exp_toxeffect">Effect</label>
			<select id="exp_toxeffect" class="form-control" formControlName="ctrlToxE">
				<option *ngFor="let toxE of toxEs" [value]="toxE">{{ getToxicityEffectDisplay(toxE) }}</option>
			</select>
		</div>
	</ng-container>
	<div>
		<button type="button" class="btn btn-success" [disabled]="!form.valid" (click)="save()">Done</button>
		<button type="button" class="btn btn-default" (click)="clear()">Clear</button>
		<button *ngIf="hasExpression" type="button" class="btn btn-default" (click)="navToList()">Cancel</button>
	</div>
	<app-auto-complete [exp]="exp" [ctrlFld]="ctrlFld" [ctrlOp]="ctrlOp" [ctrlValue]="ctrlValue" (click)="acClicked($event)" (acFetch)="acFetched($event)"></app-auto-complete>
</form>