.mat-column-millis{
	flex: 10;
	min-width: 80px;
}
.mat-column-searchDisplay{
	flex: 65;
}
.mat-column-substances{
	flex: 5;
	min-width: 80px;
	text-align: center;
}
.mat-column-actions{
	flex: 20;
	min-width: 125px;
	text-align: center;
}
