<div class="title">ChemID<i>plus</i> API Search (beta)</div>
<nav>
	<a class="btn btn-primary" tabindex="9" [routerLink]="['/']">Create Search</a>
	<button class="btn btn-primary" tabindex="9" [disabled]="!valid" (click)="app.navToResults()">Results</button>
	<a class="btn btn-primary" tabindex="9" [routerLink]="['/history']">History</a>
	<a class="btn btn-primary" tabindex="9" [routerLink]="['/settings']">Settings</a>
	<a class="btn btn-primary" tabindex="9" [routerLink]="['/help']">Help</a>
	<a class="btn btn-primary" tabindex="9" [routerLink]="['/api']">API Help</a>
</nav>
