/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn.disabled, .btn[disabled]{
	opacity:0.4;
}

.provided-info{
	align-content: center;
	font-size: 80%;
}

.result-sub-table thead th {
	vertical-align: middle;
	text-align: center;
}
.result-sub-table th,
.result-sub-table td {
	padding:2px;
}
@media (min-width: 1200px){
	.container{
		max-width:90%;
	}
}
.mat-expanded .mat-expansion-panel-header{
	font-weight: bold;
}
.top-menu-button,
.go-button,
.modify-search-button,
.delete-expression-button,
.outline-primary-button{
	padding: 5px;
	border-radius: 0.25rem;
}
.top-menu-button,
.go-button{
	color: #fff;
}
.outline-primary-button{
	color: #007bff;
	border: 1px solid #007bff;
	background-color: transparent;
}
.modify-search-button,
.delete-expression-button{
	color: #000;
}
.top-menu-button{
	background-color: #007bff;
}
.go-button{
	background-color: #28a745;
}
.modify-search-button{
	background-color: #17a2b8;
}
.delete-expression-button{
	background-color: #ddd;
}
.page-name{
	font-weight: bold;
}
.field,
.operator{
	font-style: italic;
}
.field{
	color: purple;
}
.operator{
	color: teal;
}
.help li{
	line-height: 2;
}
.help .dense li{
	line-height: inherit;
}