<h1>Settings</h1>
<form [formGroup]="form">
	<div class="form-group">
		<label for="settings_result_mode">Default Results View</label>
		<select id="settings_result_mode" class="form-control" formControlName="ctrlResultMode">
			<option *ngFor="let rm of rms" [value]="rm">{{ getResultModeDisplay(rm) }}</option>
		</select>
	</div>

	<div class="form-group">
		<label for="settings_result_page">Number of AutoComplete Result Rows</label>
		<input id="settings_result_page" type="number" class="form-control" min="10" max="50" step="5" formControlName="ctrlAutoCompleteResult">
	</div>

	<div class="form-group">
		<label for="settings_abbr">Field/Operator Values in URLs</label>
		<select  id="settings_abbr" class="form-control" formControlName="ctrlFldOpAbbr">
			<option value="full">Full Term</option>
			<option value="abbr">Abbreviated</option>
		</select>
	</div>
	
	<fieldset>
		<legend>HTML View Settings</legend>

		<div class="form-group">
			<label for="settings_result_page">Default Number of Results per Page</label>
			<select id="settings_result_page" class="form-control" formControlName="ctrlResultPage">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
			</select>
		</div>

		<div class="form-group">
			<label for="settings_sortby">Default Sort By</label>
			<select  id="settings_sortby" class="form-control" formControlName="ctrlSortBy">
				<option *ngFor="let srt of srts" [value]="srt">{{ getSortDisplay(srt) }}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="settings_sim_percent">Default Similarity Percent</label>
			<input id="settings_sim_percent" type="number" class="form-control" min="40" max="100" step="5" formControlName="ctrlSimPercent">
		</div>

		<div class="form-group">
			<label for="settings_structure">Default View Structures</label>
			<input type="checkbox" id="settings_structure" class="form-control" formControlName="ctrlStructures">
		</div>
		
	</fieldset>

	<fieldset>
		<legend>API View Settings</legend>
		<div class="form-group">
			<label for="settings_dm">Default Data Parameter</label>
			<select  id="settings_dm" class="form-control" formControlName="ctrlDmChoice">
				<option *ngFor="let dm of dms" [value]="dm">{{ getDataModeDisplay(dm) }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="settings_fmt">Default Format Parameter</label>
			<select  id="settings_fmt" class="form-control" formControlName="ctrlFmtChoice">
				<option *ngFor="let fmt of fmts" [value]="fmt">{{ getFormatDisplay(fmt) }}</option>
			</select>
		</div>
	</fieldset>

</form>
